### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import pandas as pd
import numpy as np

school_csv = "Resources/schools_complete.csv"
student_csv = "Resources/students_complete.csv"

school_df = pd.read_csv(school_csv)
student_df = pd.read_csv(student_csv)

# Combine the data into a single dataset
combined_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
# combined_df

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Calculate the total number of schools
total_schools = combined_df["school_name"].nunique()
# total_schools

In [3]:
# Calculate the total number of students
total_students = combined_df["Student ID"].nunique()
# total_students

In [4]:
# Calculate the total budget
total_budget = school_df["budget"].sum()
# total_budget

In [5]:
# Calculate the average math score
avg_math_score = combined_df["math_score"].describe()["mean"]
# avg_math_score

In [6]:
# Calculate the average reading score
avg_reading_score = combined_df["reading_score"].describe()["mean"]
# avg_reading_score

In [7]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score)/2
# overall_passing_rate

In [8]:
# Calculate the percentage of students with a passing math score (70 or greater
passing_math = combined_df[combined_df["math_score"] >= 70].count()["math_score"]
percent_passing_math = (passing_math/total_students)*100
# percent_passing_math

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = combined_df[combined_df["reading_score"] >= 70].count()["reading_score"]
percent_passing_reading = (passing_reading/total_students)*100
# percent_passing_reading

In [10]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": total_schools,
                                   "Total Students": total_students,
                                   "Total Budget": [total_budget],
                                   "Average Math Score": avg_math_score,
                                   "Average Reading Score": avg_reading_score,
                                   "% Passing Math": percent_passing_math,
                                   "% Passing Reading": percent_passing_reading,
                                   "% Overall Passing Rate": overall_passing_rate})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [11]:
# School Name and Type 
school_type = school_df.set_index(["school_name"])["type"]
# school_type

In [12]:
# Total Students 
school_students = combined_df["school_name"].value_counts()
# school_students

In [13]:
# Total School Budget 
school_budget = combined_df.groupby(["school_name"]).mean()["budget"]
# school_budget

In [14]:
# Budget Per Student 
budget_per_student = school_budget/school_students
# budget_per_student

In [15]:
# Average Math Score
school_avg_math = combined_df.groupby(["school_name"]).mean()["math_score"]
# school_avg_math

In [16]:
# Average Reading Score
school_avg_reading = combined_df.groupby(["school_name"]).mean()["reading_score"]
# school_avg_reading

In [17]:
# % Passing Math (70 is passing) for each school 
pass_math_per_school = combined_df[combined_df['math_score'] >= 70].groupby("school_name")["Student ID"].count()/school_students
percent_pass_math_per_school = round(pass_math_per_school*100,2)
# percent_pass_math_per_school

In [18]:
# % Passing Reading
pass_reading_per_school = combined_df[combined_df['reading_score'] >= 70].groupby("school_name")["Student ID"].count()/school_students
percent_pass_reading_per_school = round(pass_reading_per_school*100,2)
# percent_pass_reading_per_school

In [19]:
# Overall Passing Rate (Average of the above two)
overall_pass_rate_per_school = round((percent_pass_math_per_school + percent_pass_reading_per_school)/2,2)
# overall_pass_rate_per_school

In [20]:
# Create a dataframe to hold the above results
school_summary_df = pd.DataFrame({"School Type": school_type,
                                 "Total Students": school_students,
                                 "Total School Budget": school_budget,
                                 "Budget Per Student": budget_per_student,
                                 "Average Math Score": school_avg_math,
                                 "Average Reading Score": school_avg_reading,
                                 "% Passing Math": percent_pass_math_per_school,
                                 "% Passing Reading": percent_pass_reading_per_school,
                                 "% Overall Passing Rate": overall_pass_rate_per_school})
school_summary_df

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.13,97.04,95.58
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.99,80.74,73.36
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.31,79.30,73.81
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.39,97.14,95.26
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.75,80.86,73.81
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.51,96.25,94.38
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.68,81.32,73.50
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.06,81.22,73.64
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.59,95.95,95.27
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.37,80.22,73.30
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.87,95.85,94.86
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.27,97.31,95.29
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.87,96.54,95.21
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.33,96.61,94.97

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [21]:
# Sort and display the top five schools in overall passing rate
top_5_schools = school_summary_df.sort_values("% Overall Passing Rate",ascending=False).head(5)
top_5_schools

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.13,97.04,95.58
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.27,97.31,95.29
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.59,95.95,95.27
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.39,97.14,95.26
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.87,96.54,95.21

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [22]:
# Sort and display the five worst-performing schools
bottom_5_schools = school_summary_df.sort_values("% Overall Passing Rate",ascending=True).head(5)
bottom_5_schools

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.37,80.22,73.30
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.99,80.74,73.36
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.68,81.32,73.50
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.06,81.22,73.64
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.31,79.30,73.81

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [23]:
# Math scores by grade 
ninth_math = student_df.loc[student_df['grade'] == '9th'].groupby("school_name")["math_score"].mean()
tenth_math = student_df.loc[student_df['grade'] == '10th'].groupby("school_name")["math_score"].mean()
eleventh_math = student_df.loc[student_df['grade'] == '11th'].groupby("school_name")["math_score"].mean()
twelfth_math = student_df.loc[student_df['grade'] == '11th'].groupby("school_name")["math_score"].mean()

math_scores_df = pd.DataFrame({"9th": ninth_math,
                              "10th": tenth_math,
                              "11th": eleventh_math,
                              "12th": twelfth_math})
# math_scores_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [24]:
# Reading scores by grade 
ninth_reading = student_df.loc[student_df['grade'] == '9th'].groupby("school_name")["reading_score"].mean()
tenth_reading = student_df.loc[student_df['grade'] == '10th'].groupby("school_name")["reading_score"].mean()
eleventh_reading = student_df.loc[student_df['grade'] == '11th'].groupby("school_name")["reading_score"].mean()
twelfth_reading = student_df.loc[student_df['grade'] == '11th'].groupby("school_name")["reading_score"].mean()

reading_scores_df = pd.DataFrame({"9th": ninth_reading,
                              "10th": tenth_reading,
                              "11th": eleventh_reading,
                              "12th": twelfth_reading})

# reading_scores_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [25]:
spending_bins = [0, 585, 615, 645, 675]
spending_range = ["<$585", "$585-615", "$615-645", "$645-675"]
school_spending_bins = school_summary_df[[
    "Average Math Score", 
    "Average Reading Score", 
    "% Passing Math", 
    "% Passing Reading", 
    "% Overall Passing Rate"
]].groupby(pd.cut(school_summary_df["Budget Per Student"], bins=spending_bins, labels=spending_range)).mean()
school_spending_bins

# NOTE: % math, % reading, and % overall were rounded earlier; hence the trailing 0's

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Budget Per Student,,,,,
<$585,83.455399,83.933814,93.460000,96.610000,95.035000
$585-615,83.599686,83.885211,94.230000,95.900000,95.065000
$615-645,79.079225,81.891436,75.668333,86.106667,80.888333
$645-675,76.997210,81.027843,66.163333,81.133333,73.650000

## Scores by School Size

* Perform the same operations as above, based on school size.

In [26]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
size_range = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [27]:
school_size_bins = school_summary_df[[
    "Average Math Score", 
    "Average Reading Score", 
    "% Passing Math", 
    "% Passing Reading", 
    "% Overall Passing Rate"
]].groupby(pd.cut(school_summary_df["Total Students"], bins=size_bins, labels=size_range)).mean()
school_size_bins

# NOTE: % math, % reading, and % overall were rounded earlier; hence the trailing 0's

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Total Students,,,,,
Small (<1000),83.821598,83.929843,93.55000,96.10000,94.8250
Medium (1000-2000),83.374684,83.864438,93.59800,96.79000,95.1920
Large (2000-5000),77.746417,81.344493,69.96375,82.76625,76.3675

## Scores by School Type

* Perform the same operations as above, based on school type.